html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}
.dahboard4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dahboard4-dahboard4 {
  width: 100%;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dahboard4-mainmenu {
  gap: 114px;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 900px;
  display: flex;
  padding: 24px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-default-black);
}
.dahboard4-menu {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-logo {
  gap: 8px;
  display: flex;
  padding: 24px 8px;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-logo1 {
  gap: 4px;
  display: flex;
  align-items: flex-end;
}
.dahboard4-frame {
  width: 40px;
  height: 30px;
}
.dahboard4-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-menuitem {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-menutop {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-menu1 {
  gap: 12px;
  display: flex;
  opacity: 0.75;
  padding: 12px 16px;
  align-items: center;
  border-radius: 4px;
}
.dahboard4-menu-dashboard {
  width: 24px;
  height: 24px;
}
.dahboard4-text002 {
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-menu2 {
  gap: 12px;
  display: flex;
  opacity: 0.75;
  padding: 12px 16px;
  align-items: center;
  border-radius: 4px;
}
.dahboard4-menu-car {
  width: 24px;
  height: 24px;
}
.dahboard4-text004 {
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-menu3 {
  gap: 12px;
  display: flex;
  opacity: 0.75;
  padding: 12px 16px;
  align-items: center;
  border-radius: 4px;
}
.dahboard4-menu-booking {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.dahboard4-group {
  top: 3.000009536743164px;
  left: 3.000040292739868px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.dahboard4-vector1 {
  top: 4.24078369140625px;
  left: 4.98486328125px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.dahboard4-text006 {
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-splitline {
  gap: 8px;
  display: flex;
  padding: 8px 0 8px 16px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.dahboard4-line2 {
  width: 176px;
  height: 1px;
}
.dahboard4-frame40246 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-header {
  gap: 12px;
  width: 192px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
}
.dahboard4-text008 {
  color: rgba(255, 255, 255, 0.5);
  width: 96px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame40245 {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-menu4 {
  gap: 12px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dl-color-default-primary);
}
.dahboard4-menu-payment {
  width: 24px;
  height: 24px;
}
.dahboard4-text010 {
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-rectangle5 {
  top: 6px;
  left: 0px;
  width: 6px;
  height: 36px;
  z-index: 1;
  position: absolute;
  border-radius: 4px;
}
.dahboard4-menu5 {
  gap: 12px;
  display: flex;
  opacity: 0.75;
  padding: 12px 16px;
  z-index: 2;
  align-items: center;
  border-radius: 4px;
}
.dahboard4-menu-report {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.dahboard4-group3 {
  top: 2.8125px;
  left: 4.6500244140625px;
  width: 14.699999809265137px;
  height: 18.375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-vector2 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.dahboard4-vector3 {
  top: 13.78125px;
  left: 3.675048828125px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.dahboard4-vector4 {
  top: 10.10626220703125px;
  left: 3.675048828125px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.dahboard4-vector5 {
  top: 6.4312744140625px;
  left: 3.675048828125px;
  width: 2px;
  height: 1px;
  position: absolute;
}
.dahboard4-vector6 {
  top: 0px;
  left: 9.1875px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.dahboard4-text012 {
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-logout {
  gap: 8px;
  width: 190px;
  height: 273px;
  display: flex;
  padding: 10px 20px;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.dahboard4-logout1 {
  width: 155px;
  height: 54px;
}
.dahboard4-live-car-status {
  top: 150px;
  left: 270px;
  width: 1060px;
  display: flex;
  border-radius: 8px;
  position: absolute;
  box-shadow: 0px 8px 14px 0px rgba(69, 69, 79, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dahboard4-live-car-status1 {
  width: 1060px;
  display: flex;
  padding: 20px;
  position: relative;
  box-shadow: 0px 8px 24px 0px rgba(100, 100, 116, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
}
.dahboard4-header1 {
  gap: 8px;
  width: 1042px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.dahboard4-frame40248 {
  width: 1002px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.dahboard4-text014 {
  color: var(--dl-color-default-black);
  height: auto;
  text-align: left;
}
.dahboard4-filter {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
}
.dahboard4-filter1 {
  width: 16px;
  height: 16px;
}
.dahboard4-frame40058 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dahboard4-text016 {
  color: var(--dl-color-default-gray02);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-frame40191 {
  gap: 56px;
  width: 744px;
  display: flex;
  padding: 0 0 7px 0;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(162, 162, 162, 0.25);
  border-style: solid;
}
.dahboard4-frame40190 {
  gap: 64px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40189 {
  gap: 32px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40188 {
  gap: 36px;
  display: flex;
  align-items: center;
}
.dahboard4-text018 {
  color: var(--dl-color-default-gray01);
  width: 24px;
  height: auto;
  font-size: 14px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-text020 {
  color: var(--dl-color-default-gray01);
  width: 66px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-text022 {
  color: var(--dl-color-default-gray01);
  width: 144px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-text024 {
  color: var(--dl-color-default-gray01);
  width: 118px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-text026 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-text028 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-text030 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: 18px;
}
.dahboard4-carlist {
  width: 1042px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.dahboard4-item {
  gap: 48px;
  width: 1042px;
  display: flex;
  padding: 12px 54px 12px 0;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(162, 162, 162, 0.25);
  border-style: solid;
}
.dahboard4-frame40181 {
  gap: 56px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40178 {
  gap: 64px;
  width: 468px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-frame40177 {
  gap: 32px;
  width: 247px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-frame40172 {
  gap: 36px;
  display: flex;
  align-items: center;
}
.dahboard4-text032 {
  color: var(--dl-color-default-black);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39984 {
  gap: 24px;
  display: flex;
  padding: 4px 12px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.10000000149011612);
}
.dahboard4-text034 {
  color: var(--dl-color-default-black);
  width: 42px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39982 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-ellipse7 {
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  border-color: rgba(248, 247, 241, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-text036 {
  color: var(--dl-color-default-black);
  width: 108px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame39985 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.dahboard4-completed {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-group1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-ellipse1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(82, 200, 63, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-ellipse2 {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(82, 200, 63, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-text038 {
  color: var(--dl-color-default-gray01);
  width: 86px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text040 {
  color: var(--dl-color-default-gray01);
  height: auto;
  text-align: center;
  line-height: normal;
}
.dahboard4-text042 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text044 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-frame39964 {
  gap: 8px;
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-default-primary);
}
.dahboard4-text046 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-item1 {
  gap: 48px;
  width: 1042px;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(162, 162, 162, 0.25);
  border-style: solid;
}
.dahboard4-frame40182 {
  gap: 56px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40179 {
  gap: 64px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40176 {
  gap: 32px;
  width: 247px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-frame40173 {
  gap: 36px;
  display: flex;
  align-items: center;
}
.dahboard4-text048 {
  color: var(--dl-color-default-black);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39987 {
  gap: 24px;
  display: flex;
  padding: 4px 12px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.10000000149011612);
}
.dahboard4-text050 {
  color: var(--dl-color-default-black);
  width: 42px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39989 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-ellipse71 {
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  border-color: rgba(248, 247, 241, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-text052 {
  color: var(--dl-color-default-black);
  width: 62px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame39990 {
  gap: 16px;
  width: 156px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-pending {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-group11 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-text054 {
  color: var(--dl-color-default-gray01);
  width: 131px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text056 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text058 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text060 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-frame39988 {
  gap: 8px;
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-default-primary);
}
.dahboard4-text062 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-item2 {
  gap: 48px;
  width: 1048px;
  display: flex;
  padding: 16px 0 4px 0;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-frame40183 {
  gap: 56px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40180 {
  gap: 64px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40175 {
  gap: 32px;
  width: 247px;
  display: flex;
  padding: 0 1px 0 0;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-frame40174 {
  gap: 36px;
  display: flex;
  align-items: center;
}
.dahboard4-text064 {
  color: var(--dl-color-default-black);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39992 {
  gap: 24px;
  display: flex;
  padding: 4px 12px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 0.10000000149011612);
}
.dahboard4-text066 {
  color: var(--dl-color-default-black);
  width: 42px;
  height: auto;
  text-align: center;
  line-height: 16px;
}
.dahboard4-frame39994 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-ellipse72 {
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  border-color: rgba(248, 247, 241, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-text068 {
  color: var(--dl-color-default-black);
  width: 58px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame39995 {
  gap: 16px;
  width: 156px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dahboard4-radiobutton {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-inroute {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-group12 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-ellipse12 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(255, 39, 39, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-ellipse22 {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: rgba(255, 39, 39, 1);
  border-style: solid;
  border-width: 1px;
}
.dahboard4-text070 {
  color: var(--dl-color-default-gray01);
  width: 117px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text072 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text074 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-text076 {
  color: var(--dl-color-default-gray01);
  width: 72px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.dahboard4-frame39993 {
  gap: 8px;
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--dl-color-default-primary);
}
.dahboard4-text078 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-scrollbar {
  top: 106px;
  left: 1090px;
  width: 4px;
  height: 64px;
  opacity: 0.30;
  z-index: 2;
  position: absolute;
  border-radius: 3px;
}
.dahboard4-car-availablity {
  gap: 16px;
  top: 20px;
  left: 270px;
  width: 1060px;
  display: flex;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 8px 14px 0px rgba(69, 69, 79, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.dahboard4-header2 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-text080 {
  color: var(--dl-color-default-black);
  height: auto;
  text-align: left;
}
.dahboard4-input {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-frame40166 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-input1 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(222, 222, 222, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.dahboard4-bxcar {
  width: 18px;
  height: 18px;
}
.dahboard4-frame2 {
  gap: 8px;
  display: flex;
  padding: 0 16px 0 0;
  align-items: center;
}
.dahboard4-text082 {
  color: var(--dl-color-default-gray01);
  width: 93px;
  height: auto;
  text-align: left;
}
.dahboard4-chevrondown {
  width: 18px;
  height: 18px;
}
.dahboard4-input2 {
  gap: 12px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(222, 222, 222, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.dahboard4-frameiconpinalt {
  width: 12px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
}
.dahboard4-vector7 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 18px;
  position: absolute;
}
.dahboard4-vector8 {
  top: 7px;
  left: 8px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.dahboard4-frame21 {
  gap: 8px;
  display: flex;
  padding: 0 8px 0 0;
  align-items: center;
}
.dahboard4-text084 {
  color: var(--dl-color-default-gray01);
  width: 93px;
  height: auto;
  text-align: left;
}
.dahboard4-chevrondown1 {
  width: 18px;
  height: 18px;
}
.dahboard4-datetime {
  display: flex;
  align-items: center;
}
.dahboard4-frame21 {
  display: flex;
  align-items: center;
}
.dahboard4-input3 {
  gap: 10px;
  display: flex;
  padding: 8px 8px;
  align-items: center;
  border-color: rgba(222, 222, 222, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.dahboard4-calendarcheck {
  width: 18px;
  height: 18px;
}
.dahboard4-frame22 {
  gap: 8px;
  display: flex;
  padding: 0 10px 0 0;
  align-items: center;
}
.dahboard4-text086 {
  color: var(--dl-color-default-gray01);
  width: 89px;
  height: auto;
  text-align: left;
}
.dahboard4-input4 {
  gap: 10px;
  display: flex;
  padding: 8px 7px;
  align-items: center;
  border-color: rgba(222, 222, 222, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 8px 8px 0;
}
.dahboard4-frame23 {
  gap: 8px;
  display: flex;
  padding: 0 10px 0 0;
  align-items: center;
}
.dahboard4-text088 {
  color: var(--dl-color-default-gray01);
  height: auto;
  text-align: left;
}
.dahboard4-chevrondown2 {
  width: 18px;
  height: 18px;
}
.dahboard4-frame40123 {
  gap: 10px;
  display: flex;
  padding: 8px 33px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dl-color-default-primary);
}
.dahboard4-text090 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-statistics {
  gap: 12px;
  top: 381px;
  left: 344px;
  width: 443px;
  display: flex;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 8px 14px 0px rgba(69, 69, 79, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 1);
}
.dahboard4-header3 {
  gap: 12px;
  width: 395px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.dahboard4-text092 {
  color: var(--dl-color-default-gray01);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame40158 {
  gap: 8px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: var(--dl-color-default-gray04);
}
.dahboard4-frame400581 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dahboard4-text094 {
  color: var(--dl-color-default-gray01);
  width: 24px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-stats {
  gap: 24px;
  width: 389px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.dahboard4-piechart {
  width: 146px;
  height: 146px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.dahboard4-ellipse3 {
  top: 0px;
  left: 0px;
  width: 146px;
  height: 146px;
  position: absolute;
}
.dahboard4-ellipse4 {
  top: 0px;
  left: 0px;
  width: 146px;
  height: 146px;
  position: absolute;
}
.dahboard4-ellipse6 {
  top: 0px;
  left: 0px;
  width: 146px;
  height: 146px;
  position: absolute;
}
.dahboard4-frame40217 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dahboard4-item3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.dahboard4-frame40064 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-ellipse8 {
  width: 16px;
  height: 16px;
}
.dahboard4-text096 {
  color: var(--dl-color-default-black);
  width: 136px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-frame40067 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.dahboard4-text098 {
  color: var(--dl-color-default-black);
  width: 34px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-text100 {
  color: var(--dl-color-default-green);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-item4 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.dahboard4-frame40065 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.dahboard4-ellipse81 {
  width: 16px;
  height: 16px;
}
.dahboard4-text101 {
  color: var(--dl-color-default-black);
  width: 136px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-frame40068 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.dahboard4-text103 {
  color: var(--dl-color-default-black);
  width: 34px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.dahboard4-text105 {
  color: var(--dl-color-default-green);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-statistics1 {
  gap: 12px;
  top: 381px;
  left: 834px;
  width: 443px;
  display: flex;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 8px 14px 0px rgba(69, 69, 79, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 1);
}
.dahboard4-header4 {
  gap: 11px;
  width: 395px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.dahboard4-text106 {
  color: var(--dl-color-default-gray01);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.dahboard4-frame401581 {
  gap: 8px;
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: var(--dl-color-default-gray04);
}
.dahboard4-frame400582 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dahboard4-text108 {
  color: var(--dl-color-default-gray01);
  width: 24px;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}

