@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Poppins:wght@300;700&display=swap');


:root{
    --colorTextos: #49454567;
    --color-background: #fff;    
    --color-section1:#DDE5B6;
    --color-section2: #ADC178;
    --color-title: #1E1E1E;
    --color-text: rgba(30, 30, 30, 0.75);
    --color-subtext: rgba(30, 30, 30, 0.5);
    /* Fuentes */
    --font-Logo1: 'Oranienbaum', serif;
    --font-General:'Poppins', sans-serif;

    /* Transiciones */
    --transi-1: all 300ms ease;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-General);
}

a{
    text-decoration: none;
  }

/* ------------------------------
	Header
------------------------------*/  

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #ADC178;
    padding-top: 20px;
}


.barrr{   
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background: #faf9f9;
    position: fixed; /*fijo*/
    z-index: 1;
    left:0;
    top: 0;
    right: 0;
}

.barrr h1{   
    font-family: var(--font-Logo1);
    color: var(--color-title); 
    font-weight: 200;
    margin: 10px 30px 10px;
    font-size: 50px;
}
.barrr a{   
    color: var(--color-title); 
}

.enlacesss a{
    padding: 25px;
}

.enlacesss a:hover{
    text-decoration: underline;
}

/* ------------------------------
	Body
------------------------------*/ 


body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
}

form{
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #ADC178;;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #ADC178, #96df6f);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #000000;

    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 30px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}





/* ------------------------------
	Footer
------------------------------*/

footer{    
    background-color: #1E1E1E;  
    margin-top: 1600px;
}
    
.contenedorfooter{
    padding: 0px 100px 0px;
}

.footer-linea1{
    height: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

    
.footer-linea1 h1{
    font-family: var(--font-Logo1);
    color: #fff; 
    font-weight: 600;
    font-size: 30px;  
    
}
    
.footer-linea2{
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 80px;
}

.footer-linea2 a{
    color: #fff; 
    margin: 30px;
    text-align: center;
}

.footer-linea2 a:hover{
    color:#999999;
}

.footer-linea3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 80px;
    font-size: 15px;
}

.linea3-texto{
    color:#999999;
}

.linea3-titulo{
    color:#fff;
}
