<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>control.control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlAdmin</servlet-name>
        <servlet-class>control.controlAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlEmpleado</servlet-name>
        <servlet-class>control.controlEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlLocal</servlet-name>
        <servlet-class>control.controlLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlLogin</servlet-name>
        <servlet-class>control.controlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCarrito</servlet-name>
        <servlet-class>control.controlCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlAdmin</servlet-name>
        <url-pattern>/controlAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlEmpleado</servlet-name>
        <url-pattern>/controlEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlLocal</servlet-name>
        <url-pattern>/controlLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlLogin</servlet-name>
        <url-pattern>/controlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCarrito</servlet-name>
        <url-pattern>/controlCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
